<%- include('parts/head1') %>
<title>Trade</title>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('parts/head2') %>

<body>
    <main>
        <nav class="menu">
            <a href="/tas">
                <input type="button" value="Tas">
            </a>
            <a href="/scan">
                <input type="button" value="Scan">
            </a>
            <a href="/fit">
                <input type="button" value="Fit">
            </a>
            <a href="/live">
                <input type="button" value="Live">
            </a>
            <a href="/autoScan">
                <input type="button" value="Auto Scan">
            </a>
        </nav>
    </main>
</body>

</html>