<%- include('../parts/head1') %>
<title>Tas</title>
<link rel="stylesheet" href="/assets/css/tas/tas.css">
<%- include('../parts/head2') %>

<body>
    <main>
        <a href="/" class="backbtn">
            <input type="button" class="navBtn" value="<-">
        </a>
        <section class="menu">
            <a href="/tas/test">
                <input type="button" class="navBtn" value="Test New" id="testNew">
            </a>
            <ul>
                <li>
                    <details>
                        <summary>type</summary>
                        <form>
                            <label for="type1"></label>
                            <input type="text" id="type1" value="">
                            <label for="type1"></label>
                            <input type="text" id="type1" value="">
                        </form>
                    </details>
                </li>
            </ul>
        </section>
    </main>
    <script src="/assets/js/tas/tas.js"></script>
</body>

</html>